NET "lbus_wd[7]" LOC = W1;
NET "lbus_wd[6]" LOC = Y1;
NET "lbus_wd[5]" LOC = Y2;
NET "lbus_wd[4]" LOC = AA2;
NET "lbus_wd[3]" LOC = AB2;
NET "lbus_wd[2]" LOC = AB3;
NET "lbus_wd[1]" LOC = AA4;
NET "lbus_wd[0]" LOC = AB4;
NET "lbus_rd[7]" LOC = AA18;
NET "lbus_rd[6]" LOC = AB19;
NET "lbus_rd[5]" LOC = AB20;
NET "lbus_rd[4]" LOC = AA20;
NET "lbus_rd[3]" LOC = AB21;
NET "lbus_rd[2]" LOC = AA21;
NET "lbus_rd[1]" LOC = AA22;
NET "lbus_rd[0]" LOC = Y21;
NET "led[9]" LOC = M2;
NET "led[8]" LOC = N1;
NET "led[7]" LOC = P1;
NET "led[6]" LOC = P2;
NET "led[5]" LOC = R1;
NET "led[4]" LOC = T1;
NET "led[3]" LOC = T2;
NET "led[2]" LOC = U1;
NET "led[1]" LOC = V1;
NET "led[0]" LOC = V2;
NET "lbus_clk" LOC = AA12;
NET "lbus_emp" LOC = AA16;
NET "lbus_ful" LOC = AA14;
NET "lbus_rdy" LOC = AA6;
NET "lbus_re" LOC = AB16;
NET "lbus_rstn" LOC = AB11;
NET "lbus_we" LOC = AB14;
NET "clk" LOC = J1;
NET "trigger" LOC = A4;
